@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


/* ---------------------------- ScrollBar ------------------------------------ */

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 61, 121, 0.9);
    outline: none;
}


/* ----------------------------- Header --------------------------- */

header {
    background: rgba(0, 61, 121, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 15px;
    margin: 0;
    text-align: end;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 2;
}

header img {
    width: 155px;
    margin-top: -62px;
    margin-bottom: -45.5px;
}

nav ul {
    justify-content: space-evenly;
    display: flex;
    display: none;
}

.open ul {
    position: absolute;
    background-color: rgba(0, 61, 121, 0.9);
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    left: 0;
    margin-top: 16.9px;
    margin-left: 0px;
    text-align: center;
    padding: 10px 0;
    transition: all 300ms linear;
}

.visuallyhidden {
    opacity: 0;
}

#ham {
    padding: 5px 10px;
    font-size: 20px;
    color: rgba(0, 61, 121, 0.9);
    border: 1px solid rgba(0, 61, 121, 0.9);
}

#ham:hover {
    background-color: rgba(0, 61, 121, 0.1);
    color: white;
    border: 1px solid white;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 500ms ease-in-out;
}

ul li a:hover {
    background-color: white;
    color: rgba(0, 61, 121, 0.7);
}

ul li .active {
    background-color: white;
    color: rgba(0, 61, 121, 0.7);
}

ul li a:active {
    background-color: white;
    color: rgba(0, 61, 121, 0.7);
}


/* <---------------------------Home Hero ------------------------------------> */

div.hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/port.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 97px;
}

.hero-container {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 80px;
}

.transhero {
    width: 100%;
    height: 270px;
    padding: 55px 0 0 0;
    background: rgba(0, 61, 121, 0.9);
    border-radius: 0px 292px 0px 0px;
}

h1 {
    font-family: "Javanese Text", serif;
    font-weight: 400;
    color: white;
}

p,
a,
li,
label {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    color: white;
}

.transhero h1 {
    margin: 0;
    font-style: normal;
    font-size: 30px;
    line-height: 123px;
    padding-left: 15px;
}

.hero-socials img {
    width: 55px;
}

.hero-socials :nth-child(1) {
    padding-right: 5px;
}

.hero-socials {
    padding-top: 15px;
    padding-left: 15px;
}

.transhero h2 {
    font-style: normal;
    font-size: 20px;
    line-height: 66px;
    padding-left: 15px;
    margin: -55px 0 0 0;
}

.transhero p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    width: 270px;
    margin: -5px 0 0 0;
}


/* <!-- ------------------------------Footer------------------------ --> */

footer {
    background: rgba(0, 61, 121, 0.9);
}

.footer-container {
    margin: 0 auto;
    display: block;
    padding: 30px 0;
    grid-gap: 30px;
    width: 90%;
}

.footer-address-display {
    margin-top: 60px;
}

.footer-form h3,
.footer-address-display h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-form label {
    font-size: 15px;
}

.footer-form label,
.footer-form input,
.footer-form textarea {
    display: block;
    font-family: "Jaldi", sans-serif;
}

.footer-form label input,
.footer-form textarea {
    margin-top: 5px;
    border-radius: 3px;
    width: 300px;
    border: none;
}

.footer-form label input {
    height: 32px;
}

.footer-form-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 7px 0;
    width: 300px;
    color: #fff;
}

.footer-form-button:hover {
    background-color: white;
    color: rgba(0, 61, 121, 0.9);
}

.footer-form label {
    color: #fff;
    margin-bottom: 15px;
}

.footer-socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 25px;
    grid-gap: 46px;
    margin-left: -15px;
}

.footer-socials img {
    width: 68px;
}

.footer-socials a {
    width: 65px;
}

.copyright {
    font-size: 18px;
    text-align: center;
    grid-column: 1/3;
    color: white;
}


/* -----------------thank you page---------------------- */

#temple-main {
    background: linear-gradient(180deg, #003d79 0%, #ffffff 100%);
}

.reservation-container {
    padding-top: 118px;
    width: 90%;
    margin: 0 auto;
}

.reservation-container h3 {
    font-size: 40px;
    margin-top: 0;
}

.reservation-container h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color: rgba(0, 61, 121, 0.9);
    font-size: 45px;
}

.temple-reservation-form-container h3 {
    text-align: center;
    font-size: 28px;
    color: rgba(0, 61, 121, 0.9);
    font-size: 40px;
}

.temple-reservation-form-container p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 61, 121, 0.9);
    font-size: 20px;
}


/* -----------------design page---------------------- */

#temple-main {
    background: #FBFCFF;
}

.cards {
    padding-top: 110px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
}

.avatar {
    border-radius: 5px 5px 0 0;
    width: 385px;
}

.name {
    color: rgba(0, 61, 121, 0.9);
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.design {
    color: rgba(0, 61, 121, 0.9);
    padding: 2px 16px;
    text-decoration: none;
    font-size: 23px;
    border-radius: 5px 5px 5px 5px;
}

.design:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* <---------------------------Home Hero ------------------------------------> */

div.hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/port.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 97px;
}

.hero-container {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 80px;
}

.transhero {
    width: 100%;
    height: 270px;
    padding: 55px 0 0 0;
    background: rgba(0, 61, 121, 0.9);
    border-radius: 0px 292px 0px 0px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Javanese Text", serif;
    font-weight: 400;
    color: white;
}

p,
a,
li,
label {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    color: white;
}

.transhero h1 {
    margin: 0;
    font-style: normal;
    font-size: 30px;
    line-height: 123px;
    padding-left: 15px;
}

.hero-socials img {
    width: 55px;
}

.hero-socials :nth-child(1) {
    padding-right: 5px;
}

.hero-socials {
    padding-top: 15px;
    padding-left: 15px;
}

.transhero h2 {
    font-style: normal;
    font-size: 20px;
    line-height: 66px;
    padding-left: 15px;
    margin: -55px 0 0 0;
    color: white;
}

.transhero p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    padding-left: 15px;
    width: 270px;
    margin: -5px 0 0 0;
    color: white;
}


/* -----------------research page---------------------- */


/* -----------------about page---------------------- */

.about h1,
h2,
p,
ul,
li {
    font-size: 20px;
    color: rgba(0, 61, 121, 0.9);
}

.about h2,
p {
    margin-left: 15px;
    margin-right: 15px;
}

.resume a {
    font-size: 20px;
    color: #FBFCFF;
}

.link1 {
    text-decoration: none;
    border: solid;
    border-color: #FBFCFF;
    padding: 5px 15px 5px 15px;
    margin-left: 148px;
    background-color: rgba(0, 61, 121, 0.9);
    border-radius: 8px 8px;
}

.link1:hover {
    background-color: #FBFCFF;
    color: rgba(0, 61, 121, 0.9);
    border-color: #FBFCFF;
}