@media only screen and (min-width: 1080px) {
    header img {
        width: 200px;
        padding: 0 50px;
        margin-top: -80px;
        margin-bottom: -85px;
    }
    #ham {
        display: none;
    }
    header {
        padding: 20px 15px;
    }
    nav ul li {
        display: block;
    }
    nav ul a {
        color: #fff;
        text-decoration: none;
    }
    #menu {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: transparent;
        margin: 0;
    }
    .visuallyhidden {
        opacity: 1;
    }
    ul li a {
        border-top: 3px solid rgba(255, 255, 255, 0);
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        color: white;
        background-color: transparent;
    }
    ul li a:hover {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        color: white;
        background-color: transparent;
    }
    ul li .active {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        color: white;
        background-color: transparent;
    }
    #home,
    #design,
    #research,
    #about {
        font-size: 19px;
    }
    div.hero {
        height: 802px;
        background-image: url("../images/port.jpg");
    }
    .transhero {
        width: 643px;
    }
    .hero-socials {
        padding-left: 85px;
    }
    .transhero h1 {
        font-size: 50px;
        padding-left: 85px;
    }
    .transhero h2 {
        font-size: 26px;
        padding-left: 85px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        padding-left: 85px;
    }
    /* <!-- ------------------------------Footer------------------------ --> */
    .footer-container {
        min-width: 1080px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .footer-socials {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 25px;
    }
    .footer-socials img,
    .footer-socials a {
        width: 65px;
    }
    /* <!-- ------------------------------ Thank You------------------------ --> */
    .temple-reservation-form-container {
        width: 800px;
    }
    .reservation-container {
        padding-top: 118px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* <!-- ------------------------------ Design------------------------ --> */
    #temple-main {
        background: #FBFCFF;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 150px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-left: 35px;
        margin-right: 30px;
        width: 90%;
    }
    .avatar {
        border-radius: 5px 5px 0 0;
        width: 100%;
    }
    .name {
        color: rgba(0, 61, 121, 0.9);
        padding: 2px 16px;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .container {
        padding: 2px 16px;
    }
    /* <!-- ------------------------------ About------------------------ --> */
    div.hero {
        height: 802px;
        background-image: url("../images/port.jpg");
    }
    .transhero {
        width: 643px;
    }
    .hero-socials {
        padding-left: 85px;
    }
    .transhero h1 {
        font-size: 50px;
        padding-left: 85px;
    }
    .transhero h2 {
        font-size: 26px;
        padding-left: 85px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        padding-left: 85px;
    }
    .about h1,
    h2,
    p,
    ul,
    li {
        font-size: 23px;
        color: rgba(0, 61, 121, 0.9);
        margin-left: 15px;
    }
    .resume a {
        font-size: 23px;
        color: #FBFCFF;
    }
    .link1 {
        text-decoration: none;
        border: solid;
        border-color: #FBFCFF;
        padding: 5px 15px 5px 15px;
        margin-left: 610px;
        background-color: rgba(0, 61, 121, 0.9);
        border-radius: 8px 8px;
    }
    .link1:hover {
        background-color: #FBFCFF;
        color: rgba(0, 61, 121, 0.9);
        border-color: #FBFCFF;
    }
}