@media only screen and (min-width: 1080px) {
    header img {
        width: 60px;
        padding: 0 50px;
    }
    #ham {
        display: none;
    }
    header {
        padding: 20px 15px;
    }
    nav ul li {
        display: block;
    }
    nav ul a {
        color: #fff;
        text-decoration: none;
    }
    #menu {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: transparent;
        margin: 0;
    }
    .visuallyhidden {
        opacity: 1;
    }
    ul li a {
        border-top: 3px solid rgba(255, 255, 255, 0);
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        color: white;
        background-color: transparent;
    }
    ul li a:hover {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        color: white;
        background-color: transparent;
    }
    ul li .active {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        color: white;
        background-color: transparent;
    }
    div.hero {
        height: 802px;
        background-image: url("../images/port.jpg");
    }
    .transhero {
        width: 643px;
    }
    .hero-socials {
        padding-left: 85px;
    }
    .transhero h1 {
        font-size: 50px;
        padding-left: 85px;
    }
    .transhero h2 {
        font-size: 26px;
        padding-left: 85px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        padding-left: 85px;
    }
    /* <!-- ------------------------------Footer------------------------ --> */
    .footer-container {
        width: 1080px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    /* <!-- ------------------------------ Thank You------------------------ --> */
    .temple-reservation-form-container {
        width: 800px;
    }
    .reservation-container {
        padding-top: 118px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* <!-- ------------------------------ Design------------------------ --> */
    #temple-main {
        background: #FBFCFF;
    }
    .temples-container {
        padding-top: 95px;
        width: 95%;
        margin: 0 auto;
    }
    .temples-container h1 {
        font-size: 40px;
        margin-bottom: 20px;
        color: rgba(0, 61, 121, 0.9);
    }
    /* <!-- ------------------------------ About------------------------ --> */
    div.hero {
        height: 802px;
        background-image: url("../images/port.jpg");
    }
    .transhero {
        width: 643px;
    }
    .hero-socials {
        padding-left: 85px;
    }
    .transhero h1 {
        font-size: 50px;
        padding-left: 85px;
    }
    .transhero h2 {
        font-size: 26px;
        padding-left: 85px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        padding-left: 85px;
    }
    .about h1,
    h2,
    p,
    ul,
    li {
        font-size: 23px;
        color: rgba(0, 61, 121, 0.9);
        margin-left: 15px;
    }
}