@media only screen and (min-width: 1080px) {
    header img {
        width: 150px;
        padding: 0 60px;
    }
    #ham {
        display: none;
    }
    header {
        padding: 20px 15px;
    }
    nav ul li {
        display: block;
    }
    nav ul a {
        color: #fff;
        text-decoration: none;
    }
    #menu {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: transparent;
        margin: 0;
    }
    .visuallyhidden {
        opacity: 1;
    }
    ul li a {
        border-top: 3px solid rgba(255, 255, 255, 0);
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        color: white;
        background-color: transparent;
    }
    ul li a:hover {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        color: white;
        background-color: transparent;
    }
    ul li .active {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        color: white;
        background-color: transparent;
    }
    div.hero {
        height: 802px;
        background-image: url("../images/port.jpg");
    }
    .transhero {
        width: 643px;
    }
    .hero-socials {
        padding-left: 85px;
    }
    .transhero h1 {
        font-size: 50px;
        padding-left: 85px;
    }
    .transhero h2 {
        font-size: 26px;
        padding-left: 85px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        padding-left: 85px;
    }
    .weather-container {
        height: 148px;
        grid-template-columns: 1fr 1fr;
    }
    .todays-date h3 {
        font-size: 62px;
    }
    .todays-date h4 {
        font-size: 24px;
        margin: -55px 0 0 0;
    }
    .weather-underline {
        height: inherit;
    }
    .todays-temp h4 {
        font-size: 45px;
        margin: 30px 0 0 0;
    }
    .todays-temp :nth-child(2) {
        margin: -5px 0 0 0;
        font-size: 15px;
    }
    .todays-temp :nth-child(3) {
        margin: 1px 0 0 0;
        font-size: 15px;
    }
    .weather-future {
        padding: 0;
    }
    .next-day h4 {
        font-size: 21px;
        margin: 35px 0 0 0;
    }
    .next-day h5 {
        font-size: 27px;
        margin: 0;
    }
    .next-day p {
        font-size: 14px;
        margin: 0;
    }
    .temple-trans-banner {
        left: 50%;
        width: 400px;
    }
    .temple-trans-banner h3 {
        font-size: 33px;
    }
    .temple-trans-banner p {
        font-size: 17px;
        line-height: 29px;
    }
    .reserve-trans-banner {
        height: 336px;
        left: 0;
        width: 600px;
        height: 200px;
        padding: 45px 65px 55px 65px;
    }
    .reserve-trans-banner h3 {
        font-size: 33px;
    }
    .reserve-trans-banner p {
        font-size: 17px;
    }
    .make-reservation {
        font-size: 22px;
    }
    /* <!-- ------------------------------Footer------------------------ --> */
    .footer-container {
        width: 1080px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    /* <!-- ------------------------------ Thank You------------------------ --> */
    .temple-reservation-form-container {
        width: 800px;
    }
    .reservation-container {
        padding-top: 118px;
        width: 70%;
        margin: 0 auto;
    }
}