@media only screen and (min-width: 545px) {
    nav ul li a {
        padding: 10px 0;
        font-size: 23px;
        color: #fff;
        text-decoration: none;
        display: block;
        transition: all 500ms ease-in-out;
    }
    header img {
        width: 190px;
        margin-top: -80px;
        margin-bottom: -62px;
    }
    .hero-container {
        padding-top: 120px;
    }
    div.hero {
        height: 700px;
    }
    .transhero {
        width: 545px;
        height: 300px;
        padding: 55px 0 0 0;
        background: rgba(0, 61, 121, 0.9);
        border-radius: 0px 292px 0px 0px;
    }
    .hero-socials {
        padding-left: 35px;
    }
    .transhero h1 {
        font-size: 45px;
        padding-left: 35px;
    }
    .transhero h2 {
        font-size: 25px;
        padding-left: 35px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        font-size: 14px;
        padding-left: 35px;
        width: 410px;
        margin: 0;
    }
    /* <!-- ------------------------------Footer------------------------ --> */
    .footer-container {
        min-width: 545px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    footer {
        background: rgba(0, 61, 121, 0.9);
        margin-top: 0px;
    }
    .footer-address-display {
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .footer-socials {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 25px;
    }
    .footer-socials img,
    .footer-socials a {
        width: 65px;
    }
    /* <!-- -------------- Thank You-------------------------------- --> */
    .reservation-container h3 {
        font-size: 30px;
        margin-top: 0;
    }
    .reservation-container {
        padding-top: 118px;
        width: 79%;
        margin: 0 auto;
    }
    /* <!-- ------------------------------ Design------------------------ --> */
    #temple-main {
        background: #FBFCFF;
    }
    .temples-container {
        padding-top: 15px;
        margin: 0 auto;
    }
    .temples-container h1 {
        font-size: 40px;
        margin-bottom: 20px;
        margin-left: 14px;
        color: rgba(0, 61, 121, 0.9);
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 150px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .avatar {
        border-radius: 5px 5px 0 0;
        width: 100%;
    }
    .name {
        color: rgba(0, 61, 121, 0.9);
        padding: 2px 16px;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .container {
        padding: 2px 16px;
    }
    /* <!-- -------------- About -------------------------------- --> */
    .hero-container {
        padding-top: 120px;
    }
    div.hero {
        height: 700px;
    }
    .transhero {
        width: 545px;
        height: 300px;
        padding: 55px 0 0 0;
        background: rgba(0, 61, 121, 0.9);
        border-radius: 0px 292px 0px 0px;
    }
    .hero-socials {
        padding-left: 35px;
    }
    .transhero h1 {
        font-size: 45px;
        padding-left: 35px;
    }
    .transhero h2 {
        font-size: 25px;
        padding-left: 35px;
        margin: -45px 0 0 0;
    }
    .transhero p {
        font-size: 14px;
        padding-left: 35px;
        width: 410px;
        margin: 0;
    }
    .about h1,
    h2,
    p,
    ul,
    li {
        font-size: 23px;
        color: rgba(0, 61, 121, 0.9);
    }
    .about h2,
    p {
        margin-left: 15px;
    }
    .resume a {
        font-size: 23px;
        color: #FBFCFF;
    }
    .link1 {
        text-decoration: none;
        border: solid;
        border-color: #FBFCFF;
        padding: 5px 15px 5px 15px;
        margin-left: 325px;
        background-color: rgba(0, 61, 121, 0.9);
        border-radius: 8px 8px;
    }
    .link1:hover {
        background-color: #FBFCFF;
        color: rgba(0, 61, 121, 0.9);
        border-color: #FBFCFF;
    }
}